#cloud-config
users:
  - name: sysadmin
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - ${ssh_key}

package_update: true
packages:
  - net-tools
  - curl
  - git
  - ufw
  - iptables

runcmd:
  # Enable IP Forwarding for NAT/Routing
  - sysctl -w net.ipv4.ip_forward=1
  - echo "net.ipv4.ip_forward = 1" >> /etc/sysctl.d/99-sysctl.conf
  # Basic Firewall Rules
  - ufw allow OpenSSH
  - ufw --force enable