#cloud-config
users:
  - name: sysadmin
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - ${ssh_key}

package_update: true
packages:
  - net-tools
  - curl
  - apt-transport-https
  - ca-certificates

runcmd:
  # Kernel parameters required for Kubernetes container runtime
  - modprobe overlay
  - modprobe br_netfilter
  - sysctl --system